@model MVCPractice.Address

@*@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Addresses", new { id = @Model.AddressID },FormMethod.Post,new { @name="EditAddress", @ng_app = "app", @novalidate="novalidate", @ng_class="{'disabled':EditAddress.$invalid}"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal"    ng-controller="EditAddress">
        <h4>Address</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AddressID,new { @ng_init = "'@Model.AddressID'" ,@ng_model="addressid"})

        <div class="form-group" ng-class="{ 'has-error' : EditAddress.AddressLine1.$touched && EditAddress.AddressLine1.$error.required }">
            <label for="AddressLine1" class="control-label col-md-2">AddressLine1</label>
           
            <div class="col-md-10">
              <input class="form-control" name="AddressLine1" id="AddressLine1" ng-model="addressline1" ng-init="addressline1='@Model.AddressLine1'" required/>
                 <span class="text-danger" ng-show="EditAddress.AddressLine1.$error.required && EditAddress.AddressLine1.$touched">AddressLine1 is a required field</span>
              
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': EditAddress.AddressLine2.$error.required && EditAddress.AddressLine2.$touched}">
            <label for="AddressLine2" class="control-label col-md-2">AddressLine2</label>
            <div class="col-md-10">
                <input name="AddressLine2" id="AddressLine2" class="form-control" ng-model="addressline2" ng-init="addressline2='@Model.AddressLine2'" required/>
                 <span class="text-danger" ng-show="EditAddress.AddressLine2.$error.required && EditAddress.AddressLine2.$touched">AddressLine1 is a required field</span>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : EditAddress.City.$touched && EditAddress.City.$error.required }">
            <label for="City" class="control-label col-md-2">City</label>

            <div class="col-md-10">
                <input class="form-control" name="City" id="City" ng-model="city" ng-init="city='@Model.City'" required />
                <span class="text-danger" ng-show="EditAddress.City.$error.required && EditAddress.City.$touched">City is a required field</span>

            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : EditAddress.StateProvince.$touched && EditAddress.StateProvince.$error.required }">
            <label for="StateProvince" class="control-label col-md-2">StateProvince</label>

            <div class="col-md-10">
                <input class="form-control" name="StateProvince" id="StateProvince" ng-model="state" ng-init="state='@Model.StateProvince'" required />
                <span class="text-danger" ng-show="EditAddress.StateProvince.$error.required && EditAddress.StateProvince.$touched">StateProvince is a required field</span>

            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : EditAddress.CountryRegion.$touched && EditAddress.CountryRegion.$error.required }">
            <label for="Country" class="control-label col-md-2">Country</label>

            <div class="col-md-10">
                <input class="form-control" name="CountryRegion" id="CountryRegion" ng-model="country" ng-init="country='@Model.CountryRegion'" ng-change="SetRegexPattern()" required />
                <span class="text-danger" ng-show="EditAddress.CountryRegion.$error.required && EditAddress.CountryRegion.$touched">Country is a required field</span>

            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : EditAddress.PostalCode.$touched && (EditAddress.PostalCode.$error.required||EditAddress.PostalCode.$error.pattern) }">
            <label for="Country" class="control-label col-md-2">PostalCde</label>

            <div class="col-md-10">
                <input class="form-control" name="PostalCode" id="PostalCode" ng-model="postalcode" ng-init="postalcode='@Model.PostalCode';pattern='^\\d{5}$'" required ng-pattern="pattern" />
                <span class="text-danger" ng-show="EditAddress.PostalCode.$error.required && EditAddress.PostalCode.$touched">PostalCode is a required field</span>
                <span class="text-danger" ng-show="EditAddress.PostalCode.$error.pattern && EditAddress.PostalCode.$touched">PostalCode pattern is incorrect for country - {{country}}</span>

            </div>
        </div>
         <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save"  ng-class="{'disabled':EditAddress.$invalid}" class="btn btn-default" />
            </div>
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default" ng-click="SaveForm()">Submit</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts{
    
    <script>
        angular.module('app', [])
        .controller('address',['$scope','$http',function ($scope,$http) {

            $http.get('/Addresses/Edit/').then(function (response) {
                if (response != null || response != "undefined") {
                    $scope.model = response.data;
                }
            });

            $scope.addressid = '';
            $scope.addressline1 = '';
            $scope.addressline2 = '';
            $scope.city = '';
            $scope.state = '';
            $scope.country = '';
            $scope.postalcode = '';
            $scope.pattern = '';
            $scope.SetRegexPattern = function () {
                if ($scope.country == 'USA') {
                    $scope.pattern = '^\\d{5}$';
                }
                else if ($scope.country == 'Canada') {
                    $scope.pattern = '^\\d{3}$';
                }
                else {
                    $scope.pattern = '^\\d+$';
                }
                
            };
            $scope.SaveForm = function () {
                var data = {
                    addressid:$scope.addressid,
                    addressline1: $scope.addressline1,
                    addressline2: $scope.addressline2,
                    city: $scope.city,
                    state: $scope.state,
                    postalcode: $scope.postalcode,
                    country: $scope.country
                }
                $http.post('/Addresses/Edit',JSON.stringify(data))
            }
        }]);
    </script>
    
    
    }