@model PagedList.IPagedList<MVCPractice.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
@using (Html.BeginForm("Index","Products",FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search"/>
    </p>
}
<p>
    @Html.ActionLink("Create New Product", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name ", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter });
        </th>
        <th>
            Product Number
        </th>
        <th>
            Color
        </th>
        <th>
            Standard Cost
        </th>
        <th>
            List Price
        </th>
        <th>
            Size
        </th>
        <th>
            Weight
        </th>
        <th>
            @Html.ActionLink("Sell Start Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            End Date
        </th>

        <th>
            Category Name
        </th>
        <th>
            Model Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("Delete", "Products", new { id = item.ProductID }))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StandardCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ListPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellEndDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ProductCategory.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductModel.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                    <input type="submit" value="Delete" style="background:none; border-width:0px; color:blue; text-decoration:underline;" onclick="return confirm('Are you sure you want to delete Product with Id = @item.ProductID')" />
                </td>
            </tr>
        }
    }

</table>



<<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

@section Scripts
       {
       }
      
