@model PagedList.IPagedList<MVCPractice.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{

    Layout = null;

}
  <script>
      var filterindex = 0;
      $(document).ready(function () {

         
         
       $(".signal").css('visibility','hidden');
          $(".pagination li:not(.active) a").click(function () {
              
              var options =
                  {
                      url: $(this).attr("href"),
                      type: "GET"
                  };
              $.ajax(options).done(function (data) {
                  $("#ProductsTable").html(data);
              });
              return false;
          });
          $(document).ajaxStart(function () {
              $("#ProductsTable").css('visibility','hidden');
              $(".signal").css('visibility','visible');
          });
          $(document).ajaxComplete(function () {
              $("#ProductsTable").css('visibility','visible');
              $(".signal").css('visibility', 'hidden');
      
          });

         
              $("#dialog").dialog({
                  autoOpen: false,
                  closeOnEscape: true,
                  draggable: true,
                  title: "Filter Box"
              });


     });

  </script>
<link href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="signal"></div>
<div id="ProductsTable">
    <table class="table" id="AddressTable">
        <tr>
            <th data-filterclause="" data-filtervalue="">
              <span>@Html.ActionLink("Name ", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter });</span>
               <span style="float:right"><i class="glyphicon glyphicon-filter"></i></span>  
            </th>
            <th data-filterclause="" data-filtervalue="">
             <span>Product Number</span>
                <span style="float:right"><i class="glyphicon glyphicon-filter"></i></span> 
            </th>
            <th data-filterclause="" data-filtervalue="">
                <span>Color</span>
                <span style="float:right"><i class="glyphicon glyphicon-filter"></i></span> 
            </th>
            <th>
                Standard Cost
            </th>
            <th>
                List Price
            </th>
            <th>
                Size
            </th>
            <th>
                Weight
            </th>
            <th>
                @Html.ActionLink("Sell Start Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                End Date
            </th>

            <th>
                Category Name
            </th>
            <th>
                Model Name
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            using (Html.BeginForm("Delete", "Products", new { id = item.ProductID }))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StandardCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ListPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SellStartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SellEndDate)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ProductCategory.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductModel.Name)
                    </td>
                    <td>
                       
                            <a href="@Url.Action("Edit", new { id = item.ProductID })">
                                <img src="@Url.Content("~/Content/Edit.ico")" />
                            </a>
                        
                        <button type="submit" value="Delete">
                            <img src="@Url.Content("~/Content/Delete.ico")" />
                        </button> 
                      @*<input type="submit" value="Delete" style="background:none; border-width:0px; color:blue; text-decoration:underline;" onclick="return confirm('Are you sure you want to delete Product with Id = @item.ProductID')" />*@
                    </td>
                </tr>
            }
        }

    </table>
 
    <<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
