<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
   
    <style type="text/css">
        .message {
           
            position: absolute;
            bottom: 0;
            left: 0;
        }
    </style>
   
   
  
</head>
<body>
   
    @*<div class="message">
        this page took @ViewBag.TimeElapsed milliseconds
    </div>*@
    
     <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Products", "Index", "Products")/li>
                    <li>@Html.ActionLink("Customers", "Index", "Customers")/li>
                    <li>@Html.ActionLink("Addresses", "MainView", "Addresses")/li>
                    <li>@Html.ActionLink("ProductModels", "Index", "ProductModels")/li>
</ul>
            </div>
        </div>
    </div>
  
    <div class="container body-content">
       
           @RenderBody()
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/adventureworks")
        @Scripts.Render("~/bundles/unobtrusive")
        <link href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        @RenderSection("Scripts",false)
       
        <script>
            $(document).ready(function () {

                  $("#dialog").dialog({
                      autoOpen: false,
                      closeOnEscape: true,
                      draggable: true,
                      title: "Filter Box"
                  });
            });
         </script>
        <script src="~/ColumnFilters.js"></script>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    
       
     
    </div>
   
   
</body>
</html>
