@model IEnumerable<MVCPractice.ProductModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="ColumnFilters.js"></script>

<style>
    span i.glyphicon.glyphicon-filter {
        visibility: hidden;
    }

    span:hover i.glyphicon.glyphicon-filter {
        visibility: visible !important;
    }
</style>

<script>
  
</script>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th data-filterclause="" data-filtervalue="">
            <span>@Html.DisplayNameFor(model => model.Name)</span>

            <span style="float:right"><i class="glyphicon glyphicon-filter"><span></span></i></span>
        </th>
    </tr>
      

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <span class="partialcontents" data-url="/ProductModels/Single" data-name="@item.ProductModelID"></span>
                <span style="font:italic" class="Loader">Loading......</span>
            </td>
            <td>
                @Html.ActionLink("Edit","Edit") |
                @Html.ActionLink("Details", "Details") |
                @Html.ActionLink("Delete", "Delete")
            </td>
          </tr>
    }
</table>

@section Scripts{
   <script>
      var filterindex = 0;
    $(document).ready(function () {
        $(".partialcontents").each(function () {
            var url = $(this).attr("data-url");
            var data = $(this).attr("data-name");
            url = url;
            $.ajax({
                url: url,
                data: {
                    'Id': data,


                },
                type: "get",
                success: function (data) {
                    $(".partialcontents").first().siblings(".Loader").css('visibility', 'hidden');
                    $(".partialcontents").first().replaceWith(data);
                }
            });
            $(document).ajaxStart(function () {

               // $(".partialcontents").siblings(".Loader").css('visibility', 'visible');
            });
            $(document).ajaxComplete(function () {

             //   $(".partialcontents").siblings(".Loader").css('visibility', 'hidden');

            });
        });

    });
</script>
    } 
