@model IEnumerable<MVCPractice.ProductModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="Scripts/jquery-1.10.2.js"></script>
<script src="Scripts/jquery-1.10.2.min.js"></script>
<script src="Scripts/jquery-ui.js"></script>
<script src="Scripts/jquery-ui.min.js"></script>
<script src="Scripts/bootstrap.js"></script>
<script src="Scripts/bootstrap.min.js"></script>

<link href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="ColumnFilters.js"></script>

<style>
    span i.glyphicon.glyphicon-filter {
        visibility: hidden;
    }

    span:hover i.glyphicon.glyphicon-filter {
        visibility: visible !important;
    }
</style>

<script>
    var filterindex = 0;
    $(document).ready(function () {
        $(".partialcontents").each(function () {

           
            var  url =  $(this).attr("data-url");
            var data = $(this).attr("data-name");
            url = url;
           
            
            $.ajax({
                url: url,
                data: { 'Id' : data },
                type: "get",
                success: function (data) {
                    $(".partialcontents").first().replaceWith(data);
                }

            });
        });

        $("#dialog").dialog({
            autoOpen: false,
            closeOnEscape: true,
            draggable: true,
            title: "Filter Box"
        });
        $(".glyphicon-filter").click(function (e) {
            filterindex = $(event.target).closest('th').index();

            $("#dialog #filterclause").val($("th:eq(" + filterindex + ")").data("filterclause"));
            $("#dialog #FirstBox").val($("th:eq(" + filterindex + ")").data("filtervalue"));
            $("#dialog").dialog({

                position: { at: "right bottom", my: "left top", of: $(e.target) }
            });
            $("#dialog").dialog("open");
        });
        $("#close").click(function () {

            $("#dialog").dialog("close");
        });

        $("#ApplyFilter").click(function (e) {

            e.preventDefault();

            $("th:eq(" + filterindex + ")").data("filterclause", $("#filterclause").find("option:selected").text());
            $("th:eq(" + filterindex + ")").data("filtervalue", $("#FirstBox").val());
            FilterAddressTable();
        });


        function FilterAddressTable() {

            $("#AddressTable tr").each(function () {

                $(this).show();
            });

            $("#AddressTable th").each(function () {

                var headerindex = $(this).index();


                $(this).closest("table").find("tr:has(td):visible").each(function () {

                    if (!$("th:eq(" + headerindex + ")").data("filtervalue")) {
                        $("th:eq(" + headerindex + ")").find("span:has(i.glyphicon.glyphicon-filter)").find("i.glyphicon.glyphicon-filter").css("visibility", "hidden");
                    }
                    else {

                        $("th:eq(" + headerindex + ")").find("span:has(i.glyphicon.glyphicon-filter)").find("i.glyphicon.glyphicon-filter").css("visibility", "visible");

                        switch ($("th:eq(" + headerindex + ")").data("filterclause")) {

                            case "Equals":

                                if ($(this).find("td:eq(" + headerindex + ")").text() === $("th:eq(" + headerindex + ")").data("filtervalue")) {
                                    $(this).show();
                                }
                                else {
                                    $(this).hide();
                                }
                                break;
                            case "Contains":

                                if ($(this).find("td:eq(" + headerindex + ")").is(":contains(" + $("th:eq(" + headerindex + ")").data("filtervalue") + ")")) {
                                    $(this).show();
                                }
                                else {
                                    $(this).hide();
                                } break;
                            case "Does not Contain":

                                if ($(this).find("td:eq(" + headerindex + ")").is(":not(:contains(" + $("th:eq(" + headerindex + ")").data("filtervalue") + "))")) {
                                    $(this).show();
                                }
                                else {
                                    $(this).hide();
                                } break;
                            case "Not Equal to": if ($(this).find("td:eq(" + headerindex + ")").text() != $("th:eq(" + headerindex + ")").data("filtervalue")) {
                                $(this).show();
                            }
                            else {
                                $(this).hide();
                            }
                                break;
                        }
                    }
                });
            });
        }

        $("#ClearFilter").click(function (e) {

            e.preventDefault();

            $("th:eq(" + filterindex + ")").data("filterclause", "");
            $("th:eq(" + filterindex + ")").data("filtervalue", "");
            FilterAddressTable();
        });
    });
</script>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th data-filterclause="" data-filtervalue="">
            <span>@Html.DisplayNameFor(model => model.Name)</span>

            <span style="float:right"><i class="glyphicon glyphicon-filter"><span></span></i></span>
        </th>
    </tr>
      

    @foreach (var item in Model)
    {
        <tr>
            <td><div class="partialcontents" data-url="/ProductModels/Single" data-name="@item.ProductModelID" style="font-style:italic;visibility:hidden"></div></td>
            <td>
                @Html.ActionLink("Edit","Edit") |
                @Html.ActionLink("Details", "Details") |
                @Html.ActionLink("Delete", "Delete")
            </td>
            
           
        </tr>
    }
</table>

